.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-linear {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  isolation: isolate;
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, #fffbeb 0%, #ffffff 89.63%);
}

.header-nav {
  /* Header */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
  gap: 202px;

  width: 1440px;
  height: 96px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  margin: 0 auto;
  width: 631px;
  height: 48px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #78350f !important;
  padding: 12px 8px;
}

.sign-up-btn {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;

  width: 149px;
  height: 48px;

  /* Amber/900 */
  border: 2px solid #78350f;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 5;
  flex-grow: 0;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #78350f;
}
.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
