.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-linear {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
isolation: isolate;
position: relative;
width: 1440px;
height: 5545px;
background: linear-gradient(180deg, #FFFBEB 0%, #FFFFFF 89.63%);
overflow-x: hidden;
}

.header-nav {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 24px 80px;
gap: 452px;
width: 1440px;
height: 96px;
flex: none;
align-self: stretch;
flex-grow: 0;
z-index: 1;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 24px ;
  letter-spacing: 0.5px;
  color: #78350f !important;
  background-color: transparent;
  text-decoration: none;
  border-radius: 8px;
}

.sign-up-btn {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 12px;
  width: 149px;
  height: 48px;
  border: 2px solid #78350f !important;
  border-radius: 8px !important;
  color: #78350f !important;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}


.navbar-brand {
margin: 0 auto;
width: 102px;
height: 35px;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 700 !important;
font-size: 32px !important;
line-height: 110% !important;
color: #78350F !important;
flex: none;
order: 0;
flex-grow: 0;
}
.menu-items {
  display: flex;
  gap: 16px;
}

#basic-navbar-nav {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;
margin: 0 auto;
width: 631px;
height: 48px;
flex: none;
order: 1;
flex-grow: 0;
}

.heroBody{
display: flex;
flex-direction: row;
align-items: center;
padding: 80px;
gap: 80px;
width: 1440px;
height: 583px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;
}

.herocol1{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;
width: 714px;
height: 257px;
flex: none;
order: 0;
flex-grow: 1;

}

.secText{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 714px;
height: 257px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.ColSneakers{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 714px;
height: 79px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.ColSneakersText{
width: 714px;
height: 79px;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 110%;
color: #0F172A;
}

.ColSneakersParag{
width: 714px;
height: 58px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #0F172A;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.heroButtonsGroup{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 347px;
height: 56px;
flex: none;
order: 2;
flex-grow: 0;

}
